#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$SlXsxk/NeTk8zfBI$RQdn6G0h5qI01LUtkpm7gTXnXZeVNOaPlvtnqa5hfBpbcJi1f7FieFFEHQ1pItDG//IE1zIeBtpAbahr5nPjQ0
# System services
services --disabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone Asia/Tokyo --isUtc --nontp
user --name=masahiro --password=$6$Y4T5qRoDaubGnI7p$/81Mwke1fYwA29bK7MuXyXcZNVruLm7bgvsPO6Kj4vBH69vQgLLFFfR.7V5RqgyIbBED32vrUyB2yz8MwbFSg/ --iscrypted --gecos="Masahiro Yamada"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
